@import "../../../root/css/scss/variables";
@import "../../../root/css/scss/mixins";
.search{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    min-height: 105%;
    margin: 0 auto;
    padding: 200px 0 100px 0;
    box-sizing: border-box;

    &__header{
        position: fixed;
        top: 44px;
        left: 0;
        display: block;
        width: 100%;
        z-index: 99;
        background-color: $white;
        border-bottom: 1px solid $gray-4;
        box-sizing: border-box;
        transition: transform 225ms cubic-bezier(0,0,.2,1);
        transition-property: all;

        &.scroll{
            top: 0px;
            transition: transform 195ms cubic-bezier(.4,0,1,1);
        }

        &-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
            padding: 10px 16px;
            box-sizing: border-box;
        }

    }


    &__form{
        position: relative;
        display: flex;
        width: 100%;
        height: 54px;
        margin-bottom: 10px;

        &-input{
            display: block;
            width: 100%;
            height: 100%;
            padding: 14px 120px 14px 20px;
            border-radius: 30px;
            border: 1px solid $gray-4;
            box-sizing: border-box;
            line-height: 24px;
            font-weight: $font-weight-regular;
            font-size: $font-size-normal;
            color: $gray-12;
            transition: all 0.2s;

            &:active,
            &:focus,
            &:hover{
                background-color: $gray-1;
                border: 1px solid $gray-5;
            }

            
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $gray-7;
                opacity: 1; /* Firefox */
            }
                
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $gray-7;
            }
                
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: $gray-7;
            }
            
        }

        &-submit{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }

    &__quick-nav{
        display: flex;
        gap: 0 16px;
        align-items: center;
        margin-bottom: 10px;
        &-item{
            line-height: 27px;
            font-weight: $font-weight-bold;
            color: $gray-5;
            font-size: $font-size-large;
            transition: color 0.2s;
            &-link{
                
            }

            &:active,
            &:focus,
            &:hover{
                color: $gray-6;
            }

            &.current{
                color: $gray-11;
            }
        }
    }

    &__content{
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 16px;
        box-sizing: border-box;

        &-header{
            display: flex;
            align-items: baseline;
            margin-bottom: 12px;

            &-title{
                line-height: 27px;
                font-weight: $font-weight-bold;
                color: $gray-11;
                font-size: $font-size-large;
                margin-right: 10px;
            }

            &-cnt{
                line-height: 20px;
                font-weight: $font-weight-medium;
                color: $gray-10;
                font-size: $font-size-small
            }
        }

        &-list-box{
            position: relative;
            flex: 1;
        }
    }

    &__work-list{
        display: flex;
        flex-wrap: wrap;
        gap: 16px 8px;
    }

    &__user-list,
    &__hashtag-list{
        display: flex;
        flex-direction: column;
    }
}

.user-item{
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid $gray-4;
    padding: 12px 0;
    box-sizing: border-box;

    &:first-child{
        border-top: 1px solid $gray-4;
    }

    &-link{
        flex: 0 0 54px;
        margin-right: 20px;
    }

    &-img{
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 1px solid $gray-4;
        box-sizing: border-box;
    }

    &-info{
        flex: 1;
        display: flex;
        align-items: center;

        &-inner-box{
            display: flex;
            flex-direction: column;
        }
    }

    &-nick{
        line-height: 20px;
        font-weight: $font-weight-medium;
        color: $gray-12;
        font-size: $font-size-small;
    }

    &-field{
        line-height: 18px;
        font-weight: $font-weight-regular;
        color: $gray-7;
        font-size: $font-size-xsmall;
    }


    &-follow-button{
        margin-left: auto;
    }

    &-empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        &-img{
            margin-bottom: 8px;
        }

        &-text{
            line-height: 20px;
            font-weight: $font-weight-regular;
            color: $gray-6;
            font-size: $font-size-small;
        }
    }
}

.hashtag-item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $gray-4;
    padding: 12px 0;
    box-sizing: border-box;

    &:first-child{
        border-top: 1px solid $gray-4;
    }

    &-link{
        flex: 1;
        display: flex;
        align-items: center;
    }

    &-img{
        width: 54px;
        height: 54px;
        margin-right: 20px;
    }

    &-info{
        display: flex;
        flex-direction: column;
    }
    
    &-name{
        line-height: 20px;
        font-weight: $font-weight-medium;
        color: $gray-12;
        font-size: $font-size-small;
    }

    &-cnt{
        line-height: 18px;
        font-weight: $font-weight-regular;
        color: $gray-7;
        font-size: $font-size-xsmall;
    }

    &-empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        &-img{
            margin-bottom: 8px;
        }

        &-text{
            line-height: 20px;
            font-weight: $font-weight-regular;
            color: $gray-6;
            font-size: $font-size-small;
        }
    }
}