$border-width-values: (
    "1": 1px,
    "2": 2px,
    "3": 3px,
    "4": 4px,
    "5": 5px,
);
$border-style-values: (
    "solid": solid,
    "dashed": dashed
);
$border-color-values: (
    "g1": #FCFCFC,
    "g2": #F7F7F7,
    "g3": #F2F2F2,
    "g4": #E5E5E5,
    "g5": #CCCCCC,
    "g6": #B2B2B2,
    "g7": #999999,
    "g8": #7F7F7F,
    "g9": #666666,
    "g10": #4C4C4C,
    "g11": #333333,
    "g12": #191919,
    "g13": #0D0D0D
);