.flex{
    display: flex;
}

.flex-inline{
    display: inline-flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;

    > [class*="mxw-"]{
        flex: auto;
    }
}

.flex-justify-content-center{
    justify-content: center;
}

.flex-justify-content-space-between{
    justify-content: space-between;
}

.flex-justify-content-flex-end{
    justify-content: flex-end;
}

.flex-justify-content-flex-start{
    justify-content: flex-start;
}

.flex-align-item-center{
    align-items: center;
}

.flex-align-item-flex-start{
    align-items: flex-start;
}

.flex-align-item-flex-end{
    align-items: flex-end;
}

.flex-align-item-baseline{
    align-items: baseline;
}

.flex-align-self-flex-start{
    align-self: flex-start;
}

.flex-align-self-flex-end{
    align-self: flex-end;
}

.flex-align-self-center{
    align-self: center;
}

.flex-auto{
    flex: 1 1 auto;
}