.container{
    width: 100%;
    margin: 0 auto;
}

@each $breakpoint, $container-max-width in $container-max-widths {
    .container-#{$breakpoint}

    {
        @extend .container; 
    }

    @include media-breakpoint-up($breakpoint, $breakpoints) {
        %responsive-container-#{$breakpoint}

        {
            max-width: $container-max-width;
        }

        // Extend each breakpoint which is smaller or equal to the current breakpoint 
        $extend-breakpoint: true;
        @each $name, $width in $breakpoints {
            @if ($extend-breakpoint) {
                .container#{breakpoint-infix($name, $breakpoints)}

                {
                    @extend %responsive-container-#{$breakpoint};
                }

                // Once the current breakpoint is reached, stop extending 
                @if ($breakpoint == $name) {
                    $extend-breakpoint: false;
                }   
            }
        }
    }
}